.root {
    padding: "2px 4px";
    display: "flex";
    align-items: "center";
    width: 400
}


.input {
    margin-left: 8;
    flex: 1;
    padding: 12px 12px;
    width: 5em;
    font-size: 20px;
    size: 30
}

.align-right {
    text-align: right;
}